$black-color-font: #000000;
$black-color-bg: #000000;
$white-color-font: #fff;
$white-color-bg: #fff;
$blue-color-font: #1e90ff;
$blue-color-bg: #1e90ff;
$bluish-green-font: #33ffe3;
$bluish-green-bg: #33ffe3;
$background-gradient-top: #000000;
$background-gradient-middle: #000000;
$background-gradient-bottom: #000000;

