/* // Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Comfortaa|Fredericka+the+Great|Arizonia|Cinzel+Decorative|Lakki+Reddy);

/* Font-Variables */
$comfortaa: 'Comfortaa';
$fredericka: 'Fredericka the Great';
$lakkireddy: 'Lakki Reddy';

@import "colors";

/* Styles */

$spacing-letters: 0.0625rem;
$weight-of-font: normal;

$size-of-font: 1.3em;
$header-font: 2rem;


.hamburger-menu-button {
  font-family: $fredericka;
  width: 40px;
  height: 40px;
  padding: 6px;
  display: block;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  z-index: 100;
  background: $background-gradient-top;
  border: 5px solid white;
  box-sizing: content-box;
  border-radius: 50%;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  outline: 0;
}
.hamburger-menu-button-open {
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -12px;
  outline: 0;
}
.hamburger-menu-button-open, 
.hamburger-menu-button-open::before, 
.hamburger-menu-button-open::after {
  position: absolute;
  width: 24px;
  height: 2px;
  background: #fff;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.hamburger-menu-button-open::before, 
.hamburger-menu-button-open::after {
  left: 0;
  content: "";
}
.hamburger-menu-button-open::before {
  top: 6px;
}
.hamburger-menu-button-open::after {
  bottom: 6px;
}
.hamburger-menu-button-close {
  background: transparent;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.hamburger-menu-button-close::before {
  -webkit-transform: translateY(-6px) rotate(45deg);
          transform: translateY(-6px) rotate(45deg);
}
.hamburger-menu-button-close::after {
  -webkit-transform: translateY(6px) rotate(-45deg);
          transform: translateY(6px) rotate(-45deg);
}
.ham-menu {
  position: absolute;
  top: 42px;
  left: 48px;
  margin: auto;
  max-width: 570px;
  overflow: hidden;
  font-family: $fredericka;
  font-size: 1rem;
}

.menu li .nav-link{color: #fff;}
.ham-menu ul {
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
  background-color: $background-gradient-middle;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.ham-menu.on ul {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}
.ham-menu ul {
  font-size: 0;
}
.ham-menu ul li {
  display: inline-block;
}
.ham-menu ul li:first-child .ham-menu ul li a {
  padding-left: 30px;
}
.ham-menu ul li a {
  padding: 5px;
  display: block;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 11px;
}
.ham-menu ul li.active a, .ham-menu ul li a:hover {
  background-color: #3AAFA9;
  color: #fff !important;
} 





/* NAVBAR SECTION */
.navbar-brand {
		color: #3AAFA9;
		font-weight: $weight-of-font;
		font-size: $size-of-font;
		letter-spacing: $spacing-letters;
		font-family: $fredericka
	}
	
.nav		
	a {font-family: $fredericka;
	}

.nav-link {color: #3AAFA9;
		font-weight: 400;
		font-size: $size-of-font;
		letter-spacing: $spacing-letters;
	}
/* } */


	/* MASTERHEAD SECTION */

header
	h2{font-family: $comfortaa;
	}

header {
  font-family: $lakkireddy;
  font-weight: normal;
  font-size: 1.3rem;
  text-rendering: optimizeLegibility;
  min-height: 100vh;
  line-height: 1.5;
  background-color: $white-color-font;
}

.masthead {height: 100vh;
padding: 0;
width: 100%;
background: linear-gradient($background-gradient-top,$background-gradient-middle);
color: $white-color-font;
}

.effect h1 {font-size: 100px;}
.effect h1 {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 10vw;
  font-weight: 700;
  text-decoration: none;
  color: $white-color-font;
  display: inline-block;
  background-size: 120% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(45deg, 
                    #F172A1, 
                    #FFFF00,
                    #FFFF00,
                    #F172A1);
  animation: 4s shake infinite alternate;
}

@keyframes shake {
  0% { transform: skewX(-15deg); }
  5% { transform: skewX(15deg); }
  10% { transform: skewX(-15deg); }
  15% { transform: skewX(15deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }  
}



.txt-rotate {font-family:$lakkireddy;font-size: 30px;color: #fFF;
	}


.arrow 
	a {text-decoration: none;
	color: $white-color-font;
	font-size: 2rem;
	}
	
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* HELLO SECTION */

.Hello-section {background: linear-gradient($background-gradient-middle, $background-gradient-bottom);
padding-top: 8rem;
}

#hello 	{
	article { 
		max-width: 460px;
		}

		h3 {font-size: $header-font;
		color:$white-color-font;
		font-family: $comfortaa
		}
			p {font-size: 1.4rem;
		margin: 0 0 7px;
		color: $white-color-font;
		font-size: 2rem;
		}
	}
	
.touch {background: linear-gradient($background-gradient-bottom,$background-gradient-bottom);}

/* WHAT I DO SECTION */
	
#what-i-do {
	description
		h1{font-size: $header-font;
		color:$blue-color-font;
		font-family: $comfortaa;
		padding: 8rem 0 3rem;
		}	
	hr{border-color: $blue-color-font;
	border-width: 0.25rem;
	width: 100%;
	}
	h3 {color: $blue-color-font;
letter-spacing: 0.2rem;
border: dashed;
	}
	p {letter-spacing: 0.1rem;font-size: 1.3rem;
	}	
}		

.text-division-sizing {padding-bottom: 7rem;}

/* HELP SECTION */

#help {
	description
		h2{font-size: $header-font;
		color:$blue-color-font;
		font-family: $comfortaa;
		padding: 4rem 0 4rem;
		bg-dark: F76C6C;
		}
	h3{color: $blue-color-font;
		letter-spacing: 0.1rem;font-size: 1.7rem;
		}
	p {letter-spacing: 0.1rem;font-size: 1.3rem;
	}
	a {background-color: $blue-color-bg;
		transition: 1s;
		color: $white-color-font;
		&:hover {background-color:$black-color-bg;
	color: $white-color-font;
		}
	}
}
	
.fa-envelope{padding-left: 7px;
padding-right: 7px;
}


/* SOCIAL BUTTON SECTION */

#social {
	social-buttons {
		padding-top: 3rem;
		padding-bottom:3rem;
		font-size: 1.6rem;
		}

		a {text-align: center;
		height: 3rem;
		width: 3rem;
		border-radius: 100%;
		line-height: 3rem;
		background: $blue-color-bg;
		color: $white-color-font;
		transition: 0.6s; 
		&:hover {color: $black-color-font; 
		background-color: $white-color-bg;
		font-size: 2.6rem;
		}
	}
}

		
.small-text {font-size: 0.9rem;
letter-spacing: 0.0625rem;
padding-top: 1rem; 
padding-bottom: 1rem;
}

.footer {padding: 1rem 0;
}

.bg-blue {background-color: $blue-color-bg;
}
